body {
  background: #FFFFFF url('http://assets.tumblr.com/images/x.gif') top left fixed;
  color: #404040;
  font: normal 1em/1.5em Georgia, serif;
  font-family: 'Source Sans Pro', 'Arial', 'sans-serif';
  margin: 0;
  padding: 0;
  text-align: left; /* for ie5.5/win */
}

a, a:active, a:visited {
  color: #2D76B9;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: 0;
}

blockquote, ol, p, ul {
  margin: 0 0 1.5em;
  padding: 0;
}

ol, ul {
  margin-left: 2em;
  margin-right: 2em;
}

blockquote {
  border-left: 2px solid #222;
  font-style: italic;
  margin-left: 1em;
  padding: 0 2em 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 1.5em;
  padding: 0;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom : 5px;
  text-shadow : 0 1px -1px #ccc;
}

h1 a, h1 a:visited, h1 a:active {
  color: #222;
}

h1 a:hover {
  color: #2D76B9;
  text-decoration: none;
}

h2 {
  color: #999;
  font-size: 1em;
  margin-bottom: .5em;
  text-shadow : 0 1px -1px #fafafa;
}

h3 {
  font-size: 1.4em;
  text-shadow: 0 -1px 1px #fafafa;
}


/* Content container */
#content {
  margin: 1.5em auto 0;
  text-align: left;
  width: 75%;
}


/* Metadata */
#meta {
  list-style: none;
  margin: 0.75em 0 0;
  padding: 0;
  text-align: right;
}

#meta li {
  display: inline;
}


/* Search */
#search { margin: 0 0 0.75em; text-align: right; }


/* Search Result Count */
#searchresultcount { margin: 1.5em 0; text-align: center; }


/* Individual Posts */
.post {
  border-top: 1px solid #999;

}

.post .date {
  border-top: 3px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  float: left;
  padding: .25em 1em;
  text-align: left;
}

.post .date .month, .post .date .day, .post .date .time {
  color: #999;
  display: block;
  font-weight: normal;
}

.post .date .month {
  letter-spacing: .05em;
  text-transform: uppercase;
}

.post .date .day {
  font-size: 1.3em;
  font-weight: bold;
}

.post .date a, .post .date a:visited, .post .date a:active {
  font-weight: normal;
}

.post .regular, .post .quote, .post .link, .post .conversation,
.post .photo, .post .video, .post .audio {
  margin-left: 7em;
  padding: 0;
}

.post .photo .caption, .post .video .caption,
.post .quote .source, .post .audio .caption {
  display: block;
  margin-bottom: 1.5em;
}

.post .quote .source {
  font-style: italic;
  text-align: right;
}

.post .conversation ul {
  list-style: none;
  margin: 0 .5em 1.5em;
  padding: 0;
}

.post .conversation ul li {
  padding: .5em 0;
}

.post .conversation ul li .person {
  font-weight: bold;
  margin-right: 1em;
}

.post .post-footer .permalink, .post .post-footer .when, .post .post-footer .tags, .post .post-footer .source-url {
  font-size: .75em;
  font-weight: normal;
  margin-left: 1em;
}

.post .post-footer .source-url a { margin-right: 0.75em; font-weight: normal; }

.post .post-footer .source-url a img {
  -moz-opacity: 0.45;
  opacity: 0.45;
  vertical-align: text-top;
  margin-left: 2px;
}

.post .post-footer .source-url a:hover img {
  -moz-opacity: 0.65;
  opacity: 0.65;
}

.post-footer {

  text-align : right;
  position : absolute;
  left : 0;
  right : 0;
  width : auto;
  bottom : 0;
  background-color : #eee;
  border-top : 1px solid #ccc;
  padding : 5px 10px;
  margin : 0;
}

.post {

  position : relative;
  padding-bottom : 55px!important;
  min-height : 100px;

}

.post-footer-ruler {
  position: absolute;
  border-top: 1px solid 
    white;
  left: 0;
  right: 0;
  top: 0;
}

.source-url {
  display : none!important;
}

/* Previous and Next Links */
#prev-next {
  text-align : center;
  padding: 1.5em 0 3em;
}

#prev {
  margin-right: 1.5em;
}

#next {
  margin-left: 1.5em;
}

#footer {
  border-top: 1px solid #999;
  font-size: .85em;
}

#footer a, #footer a:active, #footer a:visited {
  color: #222;
}

#footer ul {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  text-align: center;
}

#footer ul li {
  display: inline;
  margin: 0.5em;
}

.query { font-weight: bold; }

.regular img {
  max-width: 100%;
}

#disqus_thread, ol.notes {
  width: 448px;
  margin: 30px 0 30px 112px;
}

ol.notes {
  list-style-type: none;
}

.search_query { font-weight: bold; }

/* Tags */
.tags { display: block; }
.tags .tag { margin-right: 0.75em; font-weight: normal; }

#tagpageblurb { margin: 1.5em 0; text-align: center; }
#tagpageblurb .tag { font-weight: bold; }

#rss {
  background-image: url('http://www.sourcelair.com/img/blog/rss.png');
  margin-right: 12px;
}

#archive {
  background-image: url('http://www.sourcelair.com/img/blog/archive.png');
}

#search {

  position : absolute;
  bottom : 5px;
  right : 25px;

}

#search .query {
  background-image: url('http://www.sourcelair.com/img/blog/search.png');
  height: 20px;
}

#search input , #search button {
  border-radius: 2px;
  border: 1px solid #999;
  vertical-align : middle;
  outline : none!important;
}

#search input {

  padding : 1px 5px;

}

#search button {
  height: 24px;
  color : #333;
  text-shadow : 0 -1px 1px white;
  background-color : #dadada;
  background-image : url(http://f.cl.ly/items/2I2f2y1B2P2z0y413A3d/search.png);
  padding-left : 24px;
  background-repeat : no-repeat;
  background-position : 3px center;
}

.social {
  position : absolute;
  top : 107px;
  left : 25px;
  margin : 0;
  padding : 0;
}

.social li {
  list-style : none;
}

.social img {
  border : none;
}

header {

  position : fixed;
  top : 0;
  left : 0;
  right : 0;
  width : auto;
  background-color : white;
  border-bottom : 1px solid #ccc;
  padding : 5px 25px;
  z-index : 1;
  height : 75px

}

#content {

  margin-top : 107px;

}

/* Custom CSS */
body {

  font-size : 14px;
  background-color : #fafafa;

}

.post {

  border : 1px solid #ccc;
  margin-bottom : 20px;
  padding : 10px;
  background-color : white;
  padding-bottom : 0;

}

.post .date {

  border : none;
  background : #eee;
  border : 1px solid #dadada;
  text-shadow : 0 1px -1px white;
  color : #ccc;

}

#posts .regular img {
  border: 2px solid #ccc;
  padding: 10px;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
}

#posts ol li {
  margin-bottom : 15px;
}

.post .post-footer {

  text-shadow : 0 1px -1px white;

}