body {
  background: #f5f5f5;
  color: #111111;
  font-family: 'Source Sans Pro', 'Arial', 'sans-serif';
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 400;
}

a, a:active, a:visited {
  color: #2D76B9;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: 0;
}

blockquote, ol, p, ul {
  margin: 0 0 1.5em;
  padding: 0;
}

ol, ul {
  margin-left: 2em;
  margin-right: 2em;
}

blockquote {
  border-left: 2px solid #222;
  font-style: italic;
  margin-left: 1em;
  padding: 0 2em 0 1em;
}

h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 1em;
  padding: 0;
}

h1 a, h1 a:visited, h1 a:active {
  color: #222;
}

h2 {
  color: #999;
  font-size: 1em;
  margin-bottom: .5em;
  text-shadow : 0 1px -1px #fafafa;
}

.post h3 {
  font-size: 2.2em;
  text-shadow: 0 -1px 1px #fafafa;
  font-weight: 400;
  color: #666;
}


/*
 * Content container
 */
#content {
  text-align: left;
  width: 60%;
  margin: 0 auto;
}


/* Metadata */
#meta {
  list-style: none;
  margin: 0.75em 0 0;
  padding: 0;
  text-align: right;
}

#meta li {
  display: inline;
}

/*
 * Individual posts
 */
.post h4 {
  font-weight: 400;
  color: #555;
  font-size: 1.3em;
  border-bottom: 1px solid #ddd;
}

.post .date {
  float: left;
  padding: 0.4em 1em .25em;
  text-align: left;
  text-shadow : 0 1px -1px white;
  color: #666;
}

.post .date .month, .post .date .day, .post .date .time {
  display: block;
  font-weight: normal;
}

.post .date .month {
  letter-spacing: .05em;
  text-transform: uppercase;
}

.post .date .day {
  font-size: 1.3em;
  font-weight: bold;
}

.post .date a, .post .date a:visited, .post .date a:active {
  font-weight: normal;
}

.post .regular, .post .quote, .post .link, .post .conversation,
.post .photo, .post .video, .post .audio {
  margin-left: 7em;
  padding: 0;
}

.post .photo .caption, .post .video .caption,
.post .quote .source, .post .audio .caption {
  display: block;
  margin-bottom: 1.5em;
}

.post .quote .source {
  font-style: italic;
  text-align: right;
}

.post .conversation ul {
  list-style: none;
  margin: 0 .5em 1.5em;
  padding: 0;
}

.post .conversation ul li {
  padding: .5em 0;
}

.post .conversation ul li .person {
  font-weight: bold;
  margin-right: 1em;
}

.post .post-footer .permalink, .post .post-footer .when, .post .post-footer .tags, .post .post-footer .source-url {
  font-size: .75em;
  font-weight: normal;
  margin-left: 1em;
}

.post .post-footer .source-url a { margin-right: 0.75em; font-weight: normal; }

.post .post-footer .source-url a img {
  -moz-opacity: 0.45;
  opacity: 0.45;
  vertical-align: text-top;
  margin-left: 2px;
}

.post .post-footer .source-url a:hover img {
  -moz-opacity: 0.65;
  opacity: 0.65;
}

.post-footer {

  text-align : right;
  position : absolute;
  left : 0;
  right : 0;
  width : auto;
  bottom : 0;
  padding : 5px 10px;
  margin : 0;
}

.post {
  position : relative;
  padding : 10px;
  padding-bottom : 55px!important;
  min-height : 100px;
  margin-bottom : 20px;
  font-weight: 300;
  font-size: 1.2em;
}

.source-url {
  display : none!important;
}

/* Previous and Next Links */
#prev-next {
  text-align : center;
  padding: 1.5em 0 3em;
}

#prev {
  margin-right: 1.5em;
}

#next {
  margin-left: 1.5em;
}

#footer {
  font-size: .85em;
}

#footer a, #footer a:active, #footer a:visited {
  color: #222;
}

#footer ul {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  text-align: center;
}

#footer ul li {
  display: inline;
  margin: 0.5em;
}

.query { font-weight: bold; }

.regular img {
  max-width: 100%;
}

#disqus_thread, ol.notes {
  width: 448px;
  margin: 30px 0 30px 112px;
}

ol.notes {
  list-style-type: none;
}

.search_query { font-weight: bold; }

/* Tags */
.tags {
  display: block;
}

.tags .tag {
  margin-right: 0.75em; font-weight: normal;
}

.tags .tag:first-child {
  margin-left: 4px;
}

.tags .tag:last-child {
  margin-right: 0;
}

#tagpageblurb { margin: 1.5em 0; text-align: center; }
#tagpageblurb .tag { font-weight: bold; }

#rss {
  background-image: url('http://www.sourcelair.com/img/blog/rss.png');
  margin-right: 12px;
}

#archive {
  background-image: url('http://www.sourcelair.com/img/blog/archive.png');
}

header {
  position : fixed;
  top : 0;
  left : 0;
  right : 0;
  width : auto;
  padding : 0 25px;
  z-index : 1;
  height : 64px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.7);
  background: rgba(1, 89, 118, 1) url('texture.png') top left repeat;
}

header .header-wrapper {
  width: 60%;
  overflow: auto;
  position: relative;
  margin: 0 auto;
}

h1 {
  padding: 0;
  float: left;
  margin: 0;
}

h1 a.logo-container {
  width: 33.33333%;
  position: relative;
  vertical-align: middle;
  padding-left: 10px;
}

h1 img {
  max-height: 60px;
  vertical-align: middle;
  display: inline-block;
  margin-top: 2px;
}

.top-nav {
  float: right;
  margin: 0;
}

.top-nav li {
  list-style: none;
  display: inline-block;
  margin-right: 1.375em;
  height: 60px;
  line-height: 60px;
}

.top-nav li a {
  font-weight: 400;
  color: #ccc;
}

#content {
  margin-top : 107px;
}

#posts .regular img {
  border: 1px solid #999;
  padding: 10px;
  border-radius: 2px;
  display: block;
  margin: 32px auto;
}

#posts ol li {
  margin-bottom : 15px;
}

.post .post-footer {

  text-shadow : 0 1px -1px white;

}